header {
  background-color: #2D2D2D;
  color: #fff;
  padding: 20px 30px;
  display: flex;
  justify-content: space-between;
  h1 {
    margin: 0;
    font-size: 1.1rem;
  }
}

main {
  display: flex;
  height: 100%;
  aside {
    background: #E5E1DF;
    flex-grow: 1;
    padding: 30px;
  }
  & > div {
    padding: 30px;
    flex-grow: 4;
  }
}

.sidebar-divider {
  height: 1px;
  margin: 35px 0 25px 0;
  background-color: #b9b9b9;
}

.sidebar-links {
  margin: 0;
  padding: 0;
  font-size: 1.2rem;
  li {
    list-style: none;
    padding: 6px 0;
  }
  a {
    font-weight: bold;
    color: rgb(58, 58, 58);
    text-decoration: none;
    &:hover {
      border-bottom: 2px solid;
    }
  }
}

.btn {
  display: block;
  &:hover {
    cursor: pointer;
  }
  &.btn-contained {
    padding: 10px 16px;
    border: 1px solid #afacac;
    background: transparent;
    font-size: 1rem;
    font-weight: bold;
    transition: 3ms ease-in-out;
    &:not(:last-child) {
      margin-bottom: 20px;
    }
    &:hover {
      border-color: #d0d0d0;
    }
  }
}