// matches
.match-container {
  margin: 0 auto;
  background: rgb(9,9,121);
  background: linear-gradient(90deg, rgba(9,9,121,1) 0%, rgba(0,212,255,1) 100%);
  padding: 10px 20px;
  border-radius: 6px;
  color: #fff;
  &:not(:last-child) {
    margin-bottom: 30px;
  }
  @media (max-width: 767px) {
    margin-left: 20px;
    margin-right: 20px;
  }
  @media (min-width: 768px) {
    max-width: 70%;
  }
}
.match {
  background: #fff;
  border: 1px solid #cecece;
  padding: 20px;
  margin: 10px 0;
  color: #000;
}

.match-day {
  text-transform: capitalize;
  margin: 0rem;
  padding: 6px 0px;
}

.match-day-highlighted {
  margin-bottom: 0;
  padding: 6px 0;
}

//@at-root
 .old-basho {
  color: grey;
  text-decoration: line-through;
 }

// selection
.selection-container {
  select {
    width: 80%;
    margin: 0 auto;
    height: 2rem;
    font-size: 0.9rem;
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }
}

// fighters
.fighter-names {
  padding: 2px 6px;
}
.colorkey-container {
  display: flex;
  justify-content: space-evenly;
}
.color-key {
  padding: 2px 8px;
}
.match-winner {
  background-color: #e9ffe6;
  // background-color: #c4ddc1;
  border: 1px solid green;
  color: green;
}
.selected-winner {
  background-color: #fff0d4;
  // background-color: #ffd484;
  border: 1px solid orange;
  color: orange;
}
.selected-loss {
  background-color: #e8f0ff;
  // background-color: #bbd3ff;
  border: 1px solid cornflowerblue;
  color: cornflowerblue;
}

// fantasy stuff
.fantasy {
  padding: 6px 0 18px 0;
  border-top: 1px solid #ddd;
  margin: 2rem auto 3rem auto;
  @media (max-width: 767px) {
    padding-left: 20px;
    padding-right: 20px;
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
  }
  &-team {
    font-size: 1.3rem;
    display: block;
    margin-top: .25rem;
    margin: 0;
    padding: 0;
    list-style: none;
  }
  &-points {
    font-size: 1.3rem;
  }
}