// matches
.match-container {
  margin: 0 auto;
  @media (max-width: 767px) {
    margin-left: 20px;
    margin-right: 20px;
  }
  @media (min-width: 768px) {
    max-width: 50%;
  }
}
.match {
  background: #f7f7f7;
  border: 1px solid #cecece;
  padding: 20px;
}

.match-day {
  text-transform: capitalize;
  margin-bottom: 0.5rem;
  padding: 6px 0px;
}

.match-day-highlighted {
  margin-bottom: 0;
  background: #cecece;
  padding: 6px 0;
}

//@at-root
 .old-basho {
  color: grey;
  text-decoration: line-through;
 }

// selection
.selection-container {
  select {
    width: 80%;
    margin: 0 auto;
    height: 2rem;
    font-size: 0.9rem;
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }
}

// fighters
.fighter-names {
  padding: 2px 6px;
}
.colorkey-container {
  display: flex;
  justify-content: space-evenly;
}
.color-key {
  padding: 2px 8px;
}
.match-winner {
  background-color: #e9ffe6;
  // background-color: #c4ddc1;
  border: 1px solid green;
  color: green;
}
.selected-winner {
  background-color: #fff0d4;
  // background-color: #ffd484;
  border: 1px solid orange;
  color: orange;
}
.selected-loss {
  background-color: #e8f0ff;
  // background-color: #bbd3ff;
  border: 1px solid cornflowerblue;
  color: cornflowerblue;
}

// fantasy stuff
.fantasy {
  padding: 6px 0 18px 0;
  border: 1px solid #ddd;
  margin: 2rem auto 0 auto;
  box-shadow: 2px 3px 6px 0px rgba(0,0,0,.1);
  @media (max-width: 767px) {
    padding-left: 20px;
    padding-right: 20px;
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
  }
  @media (min-width: 768px) {
    max-width: 60%;
  }
  &-team {
    font-size: 1.3rem;
    font-weight: bold;
    display: block;
    margin-top: .25rem;
  }
  &-points {
    font-size: 1.3rem;
    font-weight: bold;
    display: block;
    margin-top: .25rem;
  }
}